.card {
  display: inline-flex;
  flex-direction: column;
  border-radius: 4px;
  position: relative;
  .cardImage {
    border-radius: 0.8rem;
    display: flex;
    height: 100%;
    width: 100%;
  }
  .likeButton{
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: #7fccf8;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    height: 24px;
    width: 24px;
    align-items: center;
    justify-content: center;
    .icon{
      color: #fff;
      text-shadow: -7px 8px 2px #000, -3px 5px #000;
    }
    &:hover{
      cursor: pointer;
    }
  }
  .description {
    margin: 0 0.8rem;
    background: linear-gradient(65deg, #ffffff, #efefef);
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    .title{
      display: flex;
      padding: 1rem;
      font-family: Montserrat;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: normal;
      text-align: left;
      color: #343434;
      letter-spacing: normal;
    }
    .details{
      display: flex;
      padding: 1rem;
      .bedrooms{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
        margin-right: 0.5rem;
        border-right: 1px solid #343434; 
      }
      .price{
        display: inline-flex;
        flex: 1;
        font-size: 2rem;
        color: #7fccf8;
        font-family: Montserrat;
        font-size: 31px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        margin-right: 0.5rem;
        border-right: 1px solid #343434;
        padding-right: 0.5rem;
      }
      .contact{
        display: inline-flex;
        flex: 1;
      }
      .share{
        display: inline-flex;
      }
    }
  }
  
}